import java.lang.Math;
public class HelloWorld
{
  static int kleinsterteiler(int z) {
    int kt=z;
    int i=z;
    while (i>1) {
      if (z % i ==0)
        kt=i;
      i=i-1;
    }
      return kt;
  }
  
  static void pfz (int m) {
    if (m>1) {
      System.out.print(kleinsterteiler (m) );
      System.out.print(" ");
      	pfz (m/kleinsterteiler(m));
    }
  }
  public static void main(String[] args)
  {
    pfz (15);
  }
}
